@model IndexViewModel

<h1>Welcome, @User.Identity.Name!</h1>

<h2>User List</h2>
<ul>
    @foreach (var user in Model.Users)
    {
        <li>@user.UserName</li>
    }
</ul>

<h2>Group List</h2>
<ul>
    @foreach (var group in Model.Groups)
    {
        <li>@group.Name</li>
    }
</ul>